<h1>Update Hurricane Season <%= @season.year %></h1>
<p>Enter updates:</p>
<%= form_with url: "/seasons/#{@season[:id]}", method: :patch, local: true do |form| %>
  <%= form.label :year, "Year:" %>
  <%= form.number_field :year, in: 1900..2099, step: 1, value: @season[:year] %><br>
  <%= form.label :biggest_storm, "Biggest named storm:" %>
  <%= form.text_field :biggest_storm, value: @season[:biggest_storm] %><br>
  <%= form.label :fema_state_emg, "Was a FEMA State of Emergency declared?:" %>
  <% if @season[:fema_state_emg] == true %>
    <%= form.select :fema_state_emg, ["Yes", "No"] %><br>
  <% else %>
    <%= form.select :fema_state_emg, ["No", "Yes"] %><br>
  <% end %>
  <%= form.submit 'Update Season' %>
<% end %>