<h1>Seasons List:</h1>

<table>
  <tr>
    <th><%= link_to "Year", :sort => "year"%></th>
    <th><%= link_to "Created At", :sort => "created_at"%></th>
  </tr>
<% @seasons.each do |season| %>
  <tr>
    <td><a href='seasons/<%= season[:id] %>'><%= "#{season[:year]}" %></a></td>
    <td><%= season[:created_at]%></td>
    <td><a href="/seasons/<%= season[:id] %>/edit">Update <%= "#{season[:year]}" %> Season</a></td>
    <td><%= button_to "Delete Season", "/seasons/#{season[:id]}", method: :delete %></td>
  </tr>
  <% end %>
</table>
<p><a href="/seasons/new">New Season</a></p>