<h1>New Season</h1>
<p>Enter a new season:</p>
<%= form_with url: "/seasons", method: :post, local: true do |form| %>
  <%= form.label :year, "Year:" %>
  <%= form.number_field :year, in: 1900..2099, step: 1, value: 2022 %><br>
  <%= form.label :biggest_storm, "Biggest named storm:" %>
  <%= form.text_field :biggest_storm %><br>
  <%= form.label :fema_state_emg, "Was a FEMA State of Emergency declared?:" %>
  <%= form.select :fema_state_emg, ["Yes", "No"] %><br>
  <%= form.submit 'Create Season' %>
<% end %>