<h1><%= @season.year %> Hurricane Season:</h1>
<p><a href="/seasons/<%= @id %>/storms">Storms</a></p>
<p> There were <%= @storms %> storms that year. </p>
<p> The biggest storm was: <%= @season.biggest_storm %>.</p>
<% if @season.fema_state_emg == true %>
<p><%= 'FEMA declared a State of Emergency that year' %></p>
<% else %>
<p><%= 'FEMA did not declare a State of Emergency that year' %></p>
<% end %>
<p><a href="/seasons/<%= @id %>/edit">Update Season</a></p>
<form action="/seasons/<%= @id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete"/>
</form>