<h1>All Storms in the <%= @season.year %> Hurricane Season:</h1>
Filter storms by wind speed: <%= form_with url:"/seasons/#{@season.id}/storms", method: :get, local: true do |form| %>
  <%= form.hidden_field :filter, value: true %>
  <%= form.number_field :wind_spd, in: 1..999, step: 1, value: 100 %>
  <%= form.submit 'Filter' %>
<% end %><br>
<table>
  <tr>
    <th><%= link_to "Type", :sort => "storm_type"%></th>
    <th><%= link_to "Name", :sort => "name"%></th>
    <th><%= link_to "Peak Winds", :sort => "wind_spd"%></th>
    <th><%= link_to "Landfall", :sort => "landfall"%></th>
    <th><%= link_to "Created At", :sort => "created_at"%></th>
  </tr>
<% @storms.each do |storm| %>
  <tr>
    <td><%= storm[:storm_type]%></td>
    <td><a href='/storms/<%= storm[:id] %>'><%= "#{storm[:name]}"%></a></td>
    <td><%= storm[:wind_spd] %></td>
  <% if storm.landfall == true %>
    <td>Made landfall</td>
  <% else %>
    <td>Did not make landfall</td>
  <% end %>
    <td><%= storm[:created_at] %></td>
  </tr>
<% end %>
</table>
<p><a href="/seasons/<%= @season.id %>/storms/new">Create Storm</a></p>