<h1>New Storm</h1>
<p>Enter a new storm for the <%= @season[:year] %> Season:</p>
<%= form_with url: "/seasons/#{@season[:id]}/storms", method: :post, local: true do |form| %>
  <%= form.label :name, "Storm Name:" %>
  <%= form.text_field :name %><br>
  <%= form.label :storm_type, "Storm Type:" %>
  <%= form.text_field :storm_type %><br>
  <%= form.label :wind_spd, "Peak Winds:" %>
  <%= form.number_field :wind_spd, in: 1..999, step: 1, value: 100 %><br>
  <%= form.label :landfall, "Did the storm make landfall in the US?:" %>
  <%= form.select :landfall, ["Yes", "No"] %><br>
  <%= form.submit 'Create Storm' %>
<% end %>