<h1>Update <%= "#{@storm[:storm_type]} #{@storm[:name]}" %></h1>
<p>Enter updates:</p>
<%= form_with url: "/storms/#{@storm[:id]}", method: :patch, local: true do |form| %>
  <%= form.label :year, "Season Year:" %>
  <%= form.select :year, @seasons.map {|season| season[:year]} %><br>
  <%= form.label :name, "Storm Name:" %>
  <%= form.text_field :name, value: @storm[:name] %><br>
  <%= form.label :storm_type, "Storm Type:" %>
  <%= form.text_field :storm_type, value: @storm[:storm_type] %><br>
  <%= form.label :wind_spd, "Peak Winds:" %>
  <%= form.number_field :wind_spd, in: 1..999, step: 1, value: @storm[:wind_spd] %><br>
  <%= form.label :landfall, "Did the storm make landfall in the US?:" %>
  <% if @storm[:landfall] == true %>
    <%= form.select :landfall, ["Yes", "No"] %><br>
  <% else %>
    <%= form.select :landfall, ["No", "Yes"] %><br>
  <% end %>
  <%= form.submit 'Update Storm' %>
<% end %>