<h1>Storms List:</h1>

<table>
  <tr>
    <th> Storm Type </th>
    <th> Storm Name </th>
    <th> Peak Winds </th>
    <th> Landfall </th>
    <th> Created At </th>
  </tr>
<% @storms.each do |storm| %>
  <tr>
    <td><%= storm[:storm_type]  %></td>
    <td><a href='storms/<%= storm[:id] %>'><%= storm[:name]%></a></td>
    <td><%= storm[:wind_spd] %></td>
  <% if storm.landfall == true %>
    <td>Made landfall</td>
  <% else %>
    <td>Did not make landfall</td>
  <% end %>
    <td><%= storm[:created_at] %></td>
  </tr>
<% end %>
</table>