<h1><%= "#{@storm.storm_type} #{@storm.name}" %></h1>
<p>Maximum Sustained Winds: <%= @storm.wind_spd %> mph</p>
<% if @storm.landfall == true %>
<p><%= "#{@storm.storm_type} #{@storm.name} did make landfall in the US" %></p>
<% else %>
<p><%= "#{@storm.storm_type} #{@storm.name} did not make landfall in the US" %></p>
<% end %>
<p><a href='/storms/<%= @storm.id %>/edit'>Update Storm</a></p>